<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.svelte.practice.domain.dao.LoginDAO">
    <select id="findByUserId" resultType="User" parameterType="String">
        SELECT
            ID,
            NAME
        FROM
            USER_INFO
        WHERE
            ID = #{id}
    </select>
</mapper>